body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 20px;
}

#top-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

#welcome-container {
  display: flex; 
  height: calc(100vh - 0px);
  width: 100%;
  justify-content: left;
  overflow: hidden;
}

#welcome-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-left: 50px;
}

#welcome-title {
  margin-bottom: 50px;
  font-size: 50px;
}


#box {
  width: 50%;
  max-height: calc(100vh - 0px);
  overflow: hidden;
}


#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.copy-button {
  border: 0;
  min-width: 60px;
  box-sizing: border-box;
  min-height: 48px;
  /* display: inline-block; */
  background-color: #EFEFEF;
  cursor: pointer;
  border-radius: 24px;
  color: #111111;
  text-align: center;
  align-items: flex-start;
  /* font: 400 13.3333px Arial; */
  font-weight: 700;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  box-sizing: inherit;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-button:hover {
  background-color: #e2e2e2;
}




