.home {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    justify-content: center;
    position: relative;
}

.homeHeader {
    text-align: left;
    font-weight:bolder ;
    padding-bottom: 3%;

}

.posts {
    max-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}

a:hover {
    cursor: pointer;
}

/* .img {
    position: relative;
}

.title {
    position: absolute;

} */

.hover-link { 
    color: black;
}

.hover-link:hover { 
    color: rgba(48, 46, 46, 0.678);
}

#hover-link:hover {
    color: gray;
}

.following {
    justify-content: right;
    position: absolute;
    right: -20%;
    width: 30%;
    height: 50%;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
